/* stylelint-disable */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
button,
input {
  /* 1 */
  overflow: visible;
}
button,
select {
  /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
/* stylelint-enable */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(98%, transparent), to(#000)), -webkit-gradient(linear, left top, right top, color-stop(98%, #fff), to(#000));
  background-image: linear-gradient(to bottom, transparent 98%, #000), linear-gradient(to right, #fff 98%, #000);
  background-size: 40px 40px, 40px 40px;
  color: #000;
  font-family: "Josefin Sans", "Arial", sans-serif;
  min-width: 320px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
main {
  display: block;
}
td,
th {
  font-size: 18px;
  text-align: center;
}
@media (max-width: 649px) {
  td,
  th {
    font-size: 16px;
  }
}
.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
}
.page-header {
  background-color: transparent;
  left: 0;
  position: absolute;
  width: 100px;
  z-index: 10;
}
@media (min-width: 649px) {
  .page-header {
    top: 0;
  }
}
@media (max-width: 649px) {
  .page-header {
    bottom: 0;
    margin: 0 auto;
    right: 0;
  }
}
.main-nav {
  background-color: transparent;
  display: block;
  margin: 0 auto;
  padding: 5px 0;
}
.main-nav__logo {
  height: 110px;
  width: 60px;
}
.main-nav__clip-svg {
  -webkit-clip-path: url(#myClip);
          clip-path: url(#myClip);
  -o-object-fit: cover;
     object-fit: cover;
}
.page-main {
  background-color: #fff;
  display: block;
  margin: 20px auto;
  padding: 0;
  padding-top: 20px;
  position: relative;
  width: 550px;
}
@media (max-width: 649px) {
  .page-main {
    background-color: transparent;
    margin-bottom: 120px;
    padding-top: 5px;
    width: 320px;
  }
}
.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/pusheen-simple.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 240px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0;
  padding-right: 20px;
  padding-top: 30px;
  width: 550px;
}
.hero__calendar {
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 5px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
@media (max-width: 649px) {
  .hero {
    height: 165px;
    padding-right: 5px;
    padding-top: 25px;
    width: 300px;
  }
  .hero__calendar {
    font-size: 40px;
    line-height: 40px;
  }
}
.calendar {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
.calendar__container {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 365px;
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
  width: 445px;
}
.calendar__table {
  border-collapse: collapse;
  color: #000;
  height: 320px;
  margin: 0 auto;
  width: 400px;
}
@media (max-width: 649px) {
  .calendar__container {
    -webkit-box-shadow: 0 0 8px 8px #fff;
            box-shadow: 0 0 8px 8px #fff;
    height: 390px;
    padding-top: 25px;
    width: 320px;
  }
  .calendar__table {
    height: 250px;
    width: 300px;
  }
}
.is-today {
  background-color: #FFF0F5;
  border-radius: 50px;
  color: #000;
  opacity: 1;
}
.pusheen {
  bottom: 0;
  height: auto;
  position: absolute;
  right: -50px;
  width: 150px;
}
.pusheen__container {
  height: 150px;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 158px;
  z-index: 10;
}
.pusheen__container--pumpkin::before {
  background-image: url("../img/top-pmkn.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 151px;
  left: 1px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 159px;
  z-index: 2;
}
.pusheen__container--pumpkin::after {
  background-image: url("../img/boo.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 130px;
  left: 21px;
  position: absolute;
  top: 30px;
  width: 111px;
  z-index: -1;
}
.pusheen__container--on-click::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.pusheen__container--on-click::after {
  -webkit-transform: translateY(-82px);
          transform: translateY(-82px);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
@media (max-width: 649px) {
  .pusheen {
    right: 0;
    bottom: -35px;
  }
}
