.hero {
  align-items: center;
  background-image: url("../img/nov.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 200px;
  margin: 40px auto;
  width: 600px;
}

.hero__calendar {
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 5px;
  margin: auto;
  text-align: center;
}
